<style>
    .swal2-html-container{
    visibility: hidden !important;
  }
  
  #swal2-html-container{
    visibility: hidden !important;
  }
  </style>


<!-- log in form -->

<!-- <app-log-in-form></app-log-in-form> -->


<!-- insert lead form -->

<!-- <app-insert-new-lead></app-insert-new-lead> -->

<!-- <app-sample></app-sample> -->


<!-- update lead -->

<!-- <app-update-lead></app-update-lead> -->


<!-- leads -->


<!-- <app-leads></app-leads> -->


<router-outlet></router-outlet>



<!-- <app-sweet></app-sweet> -->